<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1>Create Book</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Title</label>
        <input class="form-control" th:field="${book.title}" />
        <span th:errors="${book.title}" class="error"></span>
    </div>

<!--    data list-->
<!--    todo resolve datalist display and value passing loo at option in controller to bind-->
    <div class="form-group">
        <input list="authorId">
        <label th:for="author">Author</label>
        <datalist id="authorId" name="authorID">
            <option th:each="author : ${authors}"
                    th:text="${author.lastName} + ' '+ ${author.firstName}"
                    th:value="${author.lastName} + ' '+ ${author.firstName} +' '+ ${author.id}"></option>
        </datalist>


        <input type="submit" value="Create Book">
        <a th:href="@{/authors/add}">Create New Author</a>
    </div>

</form>


</body>
</html>