<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Add Book</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Title</label>
        <input class="form-control" th:field="${book.name}" />
        <span th:errors="${book.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label>Author</label>
        <input list="author"></input>
        <datalist id="author">
            <option value="${}">
        </datalist>
        <input type="submit" value="Add to list">
        <a href="">Create new Author</a>
    </div>

</form>


</body>
</html>