<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<h1>Add Author</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">First Name</label>
        <input class="form-control" th:field="${author.firstName}" />
        <span th:errors="${author.firstName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="location">Last Name</label>
        <input class="form-control" th:field="${author.lastName}" />
        <span th:errors="${author.lastName}" class="error"></span>
    </div>

    <input type="submit" value="Add Author" />
</form>

<div>
    <p> Authors:
    <ul>
        <li th:each="author : ${authors}">
            <p  th:text="${author.firstName}+ ${author.lastName}"></p>
        </li>
    </ul>
</div>

</body>
</html>