<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">



    <title th:text="'Book Fair Buddy' + ${title == null ? '' : ' :: ' + title}">Book Fair Buddy</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Book Fair</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/list}">List</a></li>
<!--                <li><a th:href="@{/search}">Search</a></li>-->
                <li><a th:href="@{students/add}">Create Student</a></li>
                <li><a th:href="@{students}">View Students</a></li>
                <li><a th:href="@{teachers}">View Teachers</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>