<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<!--todo should only be visible from login with permision-->
<h1>Add Teacher</h1>
<form method="post">
    <div>
        <label th:for="prefix">prefix</label>
        <input  th:field="${teacher.prefix}">
        <span th:errors="${teacher.prefix}" class="error"></span>
    </div>


    <div>
        <label th:for="firstName">First Name</label>
        <input  th:field="${teacher.firstName}">
        <span th:errors="${teacher.firstName}" class="error"></span>
    </div>



    <div>
        <label th:for="lastName">Last Name</label>
        <input  th:field="${teacher.lastName}">
        <<span th:errors="${teacher.lastName}" class="error"></span>
    </div>
    <!--    grade select-->
    <div>
        <label th:for="gradeLevel">Grade Level</label>
        <select name="gradeLevel">
            <option value="K">
                Kindergarten
            </option>
            <option value="1">
                First
            </option>
            <option value="2">
                Second
            </option>
            <option value="3">
                Third
            </option>
            <option value="4">
                Fourth
            </option>
            <option value="5">
                Fifth
            </option>
            <option value="6">
                Sixth
            </option>
            <option value="S">
                Support Staff
            </option>
        </select>
    </div>



    <!--    add button-->
    <input type="submit" value="Add Teacher">
</form>

<div class="container body-content">
    <h2>Teachers</h2>
    <ul>
        <li th:each="teacher : ${teachers}">
            <a th:href="@{'/teachers/view/' + ${teacher.id}}" th:text="${teacher.firstName}+' '+${teacher.lastName} "></a>
        </li>
    </ul>


</div>

</body>
</html>