<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add Teacher</title>
</head>
<body>
<!--todo should only be visible from login with permision-->
<h1>Add Teacher</h1>
<form>
    <div>
        <label>First Name</label>
        <input>
        <span></span>
    </div>

    <div>
        <label>Last Name</label>
        <input>
        <span></span>
    </div>
    <!--    grade select-->
    <div>
        <label>Grade Level</label>
        <select>
            <option value="K">
                Kindergarten
            </option>
            <option value="1">
                First
            </option>
            <option value="2">
                Second
            </option>
            <option value="3">
                Third
            </option>
            <option value="4">
                Fourth
            </option>
            <option value="5">
                Fifth
            </option>
            <option value="6">
                Sixth
            </option>
            <option value="S">
                Support Staff
            </option>
        </select>
    </div>



    <!--    add button-->
    <input type="submit" value="Add Teacher">
</form>



</body>
</html>