<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<!--<p th:unless="${students} and ${student.size()}">no books!</p>-->

<div class="container body-content">
    <h2>Scholar</h2>
    <ul>
        <li th:each="teacher : ${teachers}">
            <a th:href="@{'/teachers/view/' + ${teacher.id}}" th:text="${teacher.firstName}+' '+${teacher.lastName} "></a>
        </li>
    </ul>
    <a th:href="@{'/teachers/add'}">Add Teacher</a>

</div>

</body>
</html>