<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Teacher: ' + teacher.firstName+ ' ' +teacher.lastName}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<!--<div class="job-listing">-->
<!--    <p th:text="${'Name: ' + skill.name}"></p>-->
<!--    <p th:text="${'Description: ' + skill.description}"></p>-->

<form>

    <label th:for="books">Add Books</label>
    <select id="booksId" name="bookId">
        <option th:each="book : ${books}"
                th:text="${book.title}"
                th:value="${book.id}"></option>
    </select>
    <input type="submit" value="Add book">
</form>

<p> Books:
<ul>
    <li th:each="books : ${teacher.books}">
        <a  th:text="${books.title}"></a>
    </li>
</ul>
</p>


<p> Students:
<ul>
    <li th:each="student : ${teacher.students}">
        <a th:href="@{'/view/' + ${student.id}}" th:text="${student.firstName}+' '+${student.lastName}"></a>
    </li>
</ul>
</p>

<!--link to edit student books-->
</div>
</body>