<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1>Add Scholar</h1>
<form method="post">
    <div>
        <label th:for="firstName">First Name</label>
        <input  th:field="${student.firstName}">
        <span></span>
    </div>


    <div>
        <label th:for="lastName">Last Name</label>
        <input  th:field="${student.lastName}">
        <span></span>
    </div>
<!--    grade select-->
    <div>
        <label th:for="gradeLevel">Grade Level</label>
        <select name="gradeLevel">
            <option value="K">
                Kindergarten
            </option>
            <option value="1">
                First
            </option>
            <option value="2">
                Second
            </option>
            <option value="3">
                Third
            </option>
            <option value="4">
                Fourth
            </option>
            <option value="5">
                Fifth
            </option>
            <option value="6">
                Sixth
            </option>
        </select>
    </div>
<!--    teacher select-->
<!--   <div>-->
<!--       <label>Teacher</label>-->
<!--       <select>-->
<!--           <option th:each="teacher : ${teachers}"-->
<!--                   th:text="${teacher.lastName}"-->
<!--                   th:value="${teacher.id}"></option>-->
<!--       </select>-->
<!--   </div>-->

<!--    <input list="teacherId">
    <label th:for="teacher">Teacher</label>
    <datalist id="teacherId" name="teacherId">
        <option th:each="teacher : ${teachers}"
                th:text="${teacher.lastName} + ' '+ ${teacher.firstName}"
                th:value="${teacher.id}"></option>
    </datalist> -->

    <label th:for="teacher">Teacher</label>
    <select id="teacherId" name="teacherId">
        <option th:each="teacher : ${teachers}"
                th:text="${teacher.lastName} + ' '+ ${teacher.firstName}"
                th:value="${teacher.id}"></option>
    </select>
<!--    add button-->
    <input type="submit" value="Add Student">
</form>



</body>
</html>